<!DOCTYPE html>
<html>
 <body bgcolor="#b8dbc7">
  <div class="justify-content-sm-center" style="height:auto; width:400px;  padding: auto; margin: auto; background-color:white; border-radius: 40px;" align="center">
   <a href="{{ url_for('get_results') }}">
    <font color="#b998ca" size="6" face="Century Schoolbook">
     Проанализировать музыкальный вкус
    </font>
   </a>
   <font color="#b998ca" size="4" face="Century Schoolbook">
    <br>(анализ может занимать до 5 минут)
   </font>
  </div>
  <img src="{{user_image1}}" width="360" align="left">
  <img src="{{user_image2}}" width="360" align="right">
 </body>
</html>