<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<style>
	h1 {
    font-family: 'Century Schoolbook';color:white;
    font-size: 450%;
   }
   </style>
</head>
<body bgcolor="#b8dbc7">
	<h1 align="center" class="display-5 fw-bold">
			<b>
				  Начнем?
			</b>
	</h1>

    <a href="{{ url_for('login') }}"><div class="justify-content-sm-center" style="height:80px; width:400px;  padding: auto; margin: auto; background-color:white; border-radius: 40px;" align="center"><font color="#b998ca" size="6" face="Century Schoolbook">Авторизация через Spotify</font></div></a>
	<img src="{{user_image1}}" width="360" align="left">
	<img src="{{user_image2}}" width="360" align="right">
</body>
</html>